.policy-separate-social-form{
    background-color: #0174C3;
    max-width: 70%;
    padding: 20px;
    border-radius: 15px;
    margin:auto;
}
.policy-separate-social-form label{
    font-size: 16px !important;
    color: #ffffff !important;
}
.policy-separate-social-form input{
    background-color: #ECECEC !important;
    height: 24px;
}
.secure-text{
    position: relative;
    margin-left: 15px;
}
.secure-img{
    position: absolute;
    left: 0;
}
.secure-img1{
    position: absolute;
    right: -10px;
}
.social-security-number{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}
.policy-separate-social-form-instruction{
    background-color: #115573;
    color: #fff;
    width: 235px;
    padding: 10px;
    border-top-right-radius: 21px;
    border-bottom-right-radius:21px ;
}
.policy-separate-social-form-instruction img{
    width: 50px;
    height: 55px;
    position: absolute;
    left: 94%;
    transform: translateX(-50%);
    top: -39px;
}
.policy-separate-social-form-instruction p{
    margin-bottom: 0;
    margin-top: 3rem;
}
