.container {
    width: 350px;
    border-radius: 32px;
    /* fix for safari rounded corners */
    position: relative;
    overflow: hidden;
    mask-image: -webkit-radial-gradient(white, black);
}
