.custom-date{
    width: 110px;
    border-radius: 7px;
    margin: 0 5px;
}
.custom-date .ant-select-selector{
    border-radius: 7px !important;
    border-color: #868686 !important;
    height: 34px !important;
}
.select-label label{
font-size:23px;
color:#3E3E3E
}
.select-label {
    display: flex; align-items: center;
}
.payment-label{
    font-size: 20px;
    color: #3E3E3E;
    margin-bottom: 5px;
}
