.stepper{
    top: 64px;
    z-index: 5;
    color: #ffffff;
}
.progress{
justify-content: center;
padding-top: 10px;
}
.progress-steps{
    margin-bottom: 0;
}
.premium-wrapper{
    text-align: center;
    background-color: #3E8CF4;
    color: #fff;
    padding-top: 5px;
    margin-top: 2px;
}
.premium-wrapper img{
    width: 85%;
}
.premium-wrapper-text{
    font-size: 12px;
    line-height: 0px
}
.premium-wrapper-price{
    font-family: Arial;
    margin-bottom: 0;
}
.premium-wrapper-price strong{
    font-size: 18px;
    color: #ffffff;
}
.premium-wrapper-price > span:nth-child(2){
    font-size: 15px;
}
.premium-wrapper-price > span:nth-child(4){
    font-size: 19px;
}
.currency{
   font-size: 18px !important;
}
.adjust-menu{
    display: block;
    text-align: center;
    margin-bottom: 3rem;
}
.adjust-menu a{
    margin-left: 17rem;
    display: inline-block;
}
.progress-steps .ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title, .progress-steps .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title, .progress-steps .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title{
    color: #ffffff !important;
}

.progress-steps .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after{
    background-color: #C4C4C4;
}
.ant-steps-small .ant-steps-item-tail{
    top:45px
}
.breadcrumb{
    display: flex;
    justify-content: center;
    align-items: center
}
.adjust-dropdown{
    background-color: #00C49B;
    color: #ffffff;
    padding: 7px;
    border-bottom-left-radius: 8px ;
    border-bottom-right-radius: 8px ;
}
.adjust-dropdown:hover{
    background-color: #00C49B;
    color: #ffffff;
    padding: 7px;
    border-bottom-left-radius: 8px ;
    border-bottom-right-radius: 8px ;
}
.check-circle{
    width: 25px;
    height: 25px;
    margin-top: 5px;
    border-radius: 50%;
    display: flex;
    border: 2px solid #c4c4c4  ;
}
.progress-steps .ant-steps-item-container{
    display: flex;
    flex-flow: column;
}
.progress-steps .ant-steps-item-tail{
    order: 3;
}
.progress-steps .ant-steps-item-icon{
    order: 2;
}
.progress-steps .ant-steps-item-content{
    order: 1;
}
@media screen and (max-width: 576px) {
    .premium-shield-img {
        display: none;
    }
    .premium-wrapper{
        margin: 0 -16px;
    }
    .progress-steps-row{

    }
    .progress-steps .ant-steps-item-title{
        font-size: 9px;
    }
    .check-circle{
        width: 21px;
        height: 21px;
    }
    .adjust-menu{
        margin-bottom: 2rem;
    }
    .progress-steps.ant-steps{
        justify-content: space-around;
    }
    .progress-steps .ant-steps-item-content{
        width: auto;
    }
    .progress-steps .ant-steps-item{
        width: 50px;
    }
    .progress-steps .ant-steps-item-container{
        align-items: center;
    }
    .ant-steps-small .ant-steps-item-tail{
        top:47px;
        padding: 0 5px !important;
        margin-left: 0 !important;
        left: calc( 100% - 19px );
    }
    .progress-steps .ant-steps-item-icon{
        margin-left: 0 !important;
    }
    .ant-steps-item{
        flex: inherit;
    }
}
@media screen and (max-width: 1600px) {
    .premium-wrapper img{
        width: 57%;
    }
}
